*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;  
}
.container{
    width: 750px;
    height: 100%;
    background-color: white;
    margin:15px auto;
    border-radius: 10px;
}
header{
    padding-top: 50px;
}
main{
    width: 700px;
    margin: 0 auto;
   
}
aside p{
    padding: 25px 0 15px 0;
}
aside p i{
    color: rgb(228, 95, 95);
}
img{
    height: 250px;
    width: 700px;
    display: block;
    margin: 0 auto;
    object-fit:cover;
    border-radius: 10px;
}
figcaption{
    text-align: end;
    margin-right: 25px;
    color: #8F8F8F;
    padding-top: 5px;
    font-size: 15px;
}
h1, h2{
    color: #1B1B1B;
    text-transform: uppercase;
}
h1{
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

}
h2{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 30px;
}
li{
    font-size: 1rem;
    line-height: 50px;
    font-weight: 400;
    list-style-position: inside;
    color: #8F8F8F;
}

footer{
    text-align: center;
    padding: 40px;
}
footer a{
    text-decoration: none;
    color: rgb(158, 44, 199);
}